/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

:root {
    --font-family: 'Space Grotesk', sans-serif;
    --main-background-color: #FFFDD0;
    --border-color: #000000;
    --background-color: #333;
}

.chatbox-container {
    position: fixed;
    font-color: black;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: auto;
    background-color: var(--main-background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: var(--font-family), sans-serif;
}

.chatbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

#close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#messages {
    height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--font-family), sans-serif;
    max-width: 70%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
}

.message-sent {
    background-color: #e6f3ff;
    align-self: flex-end;
    margin-left: auto;
    border: 2px solid #007bff;
    color: black; /* Added this line */
}

.message-received {
    background-color: #fff0f0;
    align-self: flex-start;
    margin-right: auto;
    border: 2px solid #dc3545;
    color: black; /* Added this line */
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: #ffffff;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: -10px;
}

.submit {
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.75em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#message-input {
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
    cursor: text;
    border: 3px solid;
    padding: 0.25em 0.75em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Click animation only for submit button */
.submit:active {
    top: 5px;
    left: 5px;
}

/* Remove click animation from textbox */
#message-input:active {
    top: 0;
    left: 0;
}
