<head>
  <link rel="stylesheet" href="../../../assets/css/homeHoneyBee.css">
  <!-- <link rel="stylesheet" href="../../../assets/css/chatBubble.css"> -->
  <style>
    html {
      cursor : default; 
    }
  </style>
</head>
<div class="container" ng-controller="homeCtrl" >
    <canvas id="canvas"></canvas>
    <div id='bug' class='bee'>
      <div class='wings'></div>
      <div class='limbs'></div>
    </div>

  <!-- <div class="bubble shadow"><p>{{content}}</p></div> -->

</div>
<script src="../../../assets/js/beeHoneyMaze.js"></script>
