<head>
  <link rel="stylesheet" href="../../../assets/css/homeHoneyBee.css">
  <link rel="stylesheet" href="../../../assets/css/chatbox.css">
  <link rel="stylesheet" href="../../../assets/css/chatBubble.css">
</head>
<div class="container" ng-controller="qbgCtrl" >
    <canvas id="canvas"></canvas>
    <div class="wip">WIP</div>
    <div id='bug' class='bee'>
      <div class='wings'></div>
      <div class='limbs'></div>
    </div>

    <div class="chatbox-container">
      <div class="chatbox-header">
          <h2>Chatbox</h2>
          <button id="close-btn">X</button>
      </div>
      <div class="chatbox-content">
          <div id="messages"></div>
      </div>
      <form id="message-form" class="input-container">
          <input type="text" class='submit' id="message-input" placeholder="Type a message...">
          <button type="submit" class='submit'>SEND</button>
      </form>
    </div>

<!--<div class="bubble mini top">awesome!</div>
 <div class="bubble right">I can get you a thumb by three o'clock</div>
<div class="bubble medium bottom">I'm not into the whole China thing, man</div>
<div class="bubble grow left">This is such a travesty</div>
<div class="bubble shadow large bottom">Ik moet nu eerst even een gerestaureerde drol hebben!</div> -->
</div>

<script src="../../../assets/js/gameManager.js"></script>
<script src="../../../assets/js/honeycomb-world.js"></script>
<script src="../../../assets/js/player.js"></script>
<script src="../../../assets/js/chatbox.js"></script>

    
    

    